* {
    font-family: 'Poppins', sans-serif;
}
.homepage-container {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-top: 0px;
}
.top-section {
    /* background-image: url(./assets/green.png); */
    background-image: url("https://media.istockphoto.com/id/184967626/photo/tall-grass-at-waters-edge.jpg?s=612x612&w=0&k=20&c=2w0a39nfLroX9pMzaQ55qWDI7KjM_yycRgTQFH0Gt8I=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 500px;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
}
.first-div {
    padding: 20px;
    word-spacing: 10px;
    padding: 8%;
}
.first-div h1{
    font-weight: bold;
    font-size: 300%;
}
.first-div p{
    font-size: 150%;
}
.image-one {
    width: 100%;
    margin-top: -2%;
    background-color: transparent;
    margin-left: -4%;
}
.btn-explore {
    background-color: #FC7300;
    max-width: 22%;
    margin-left: 10%;
    font-size: 25px;
    border-radius: 10px;
    margin-top: -7%;
}
.stats{
    box-sizing: border-box;
    box-shadow: 0px -5px 10px 10px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    padding: 15px;
    margin-left: 30%;
    margin-top: -2%;
    justify-content: space-evenly;
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.promote {
    text-align: center;
    padding: 3%;
}
.promote h4{
    font-weight: bold;
    color: #FC7300;
}