body{
    background-color:#eee;
    justify-content: space-between;
}

.nav-link:hover{
    background-color:#FC7300 !important;
}

.nav-link .fa{
    transition:all 1s;
    padding: 50px;
}

.nav-link:hover .fa{
    transform:rotate(360deg);
}

.w-250{
    width: 350px;
}
.sidebar-container{
    width: 15%;
    background-color: #F8FFDB;
    margin-top: 0%;
    padding: 0%;
}
.sidebar-container a{
    color: black;
}
